.camera {
  display: flex;
  justify-content: flex-start;
  text-align: center;
  height: 1.5em;
  align-items: center;
  height: 50px;
  vertical-align: middle;
  box-sizing: border-box;
  cursor: grab;
  cursor: -webkit-grab;
}
.camera div {
  width: 150px;
  
  
}
