@import "../node_modules/antd/dist/antd.css";

.App {
  
  width: 100%;
  text-align: center;
  display: grid;
  margin: 0 auto;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: "h h" "s c";
  height: 100vh;
}
